@use 'sass:color';

.dark-theme {
  --color-primary: #5B4B8A;
  --color-primary-hover: #{color.scale(#5B4B8A, $lightness: 5%)};
  --color-primary-active: #{color.scale(#5B4B8A, $lightness: 10%)};
  
  --color-bg-dark: #0f172a;
  --color-card-bg: #1e293b;
  --color-input-bg: #0f172a;

  --color-border: rgba(51, 65, 85, 0.5);
  --color-border-strong: rgba(51, 65, 85, 1);

  --color-border-error: rgba(239, 68, 68, 0.3);
  --color-border-success: rgba(34, 197, 94, 0.3);


  --color-text-primary: #ffffff;
  --color-text-secondary: #94a3b8;
  --color-text-muted: #64748b;

  --color-message-error: #f87171;
  --color-message-border-error: rgba(239, 68, 68, 0.3);
  --color-message-success: #4ade80;
  --color-message-border-success: rgba(34, 197, 94, 0.3);

  --color-accent-primary: #5B4B8A;
  --color-accent-primary-soft: rgba(91, 75, 138, 0.15);

  --color-accent-success: #10b981;
  --color-accent-danger: #ef4444;
  --color-accent-warning: #f59e0b;
  --color-accent-volume: #f59e0b;
}