@use '../../../../../../styles/mixins.scss' as m;

.toggle-password {
  background: transparent;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include m.transition-smooth;

  &:hover {
    color: var(--color-text-primary);
  }

  .eye-icon {
    width: 20px;
    height: 20px;
  }
}
